__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
*~

.ipynb_checkpoints
myenv/
myenv_new/

.DS_Store
**/.DS_Store

_site/
projects/

scripts/__pycache__/

data/*.csv
!data/hsls_subset.csv
!data/pisa_subset.csv

/vendor/
/.bundle/

.vscode/
.claude/
