# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*~

# Jupyter Notebook
.ipynb_checkpoints
myenv_new
myenv

# macOS
.DS_Store

# Jekyll generated site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Large datasets
data/*.csv
!data/hsls_subset.csv
!data/pisa_subset.csv

# Bundler
/vendor/
/.bundle/

# VS Code
.vscode/
